* {
    font-family: sans-serif;
    color: #495159;
}

header {
    text-align: center;
    padding: 10px 100px;
}

main {
    text-align: center;
}

/* style the start button */
button {
    background-color: #A1E8CC;
    font-size: 30px;
    padding: 10px;
    border-radius: 30px;
    border: thick solid #495159;
}

/* style the answer options displayed as an unordered list */
li {
    padding: 10px 10px;
    margin: 5px auto;
    list-style: none;
    border: thick solid #E5D4C0;
    color: #495159;
    border-radius: 10px;
    max-width: 800px;
}

.correct{
    background-color: #A1E8CC;
    border-color: #A1E8CC;
}

.wrong{
    background-color: #FAB9B9;
    border-color: #FAB9B9;
}